.card-div {
  width: 750px;
  margin-top: 50px;
}
h1 {
  font-size: 40px;
  margin-top: 40px;
}
body {
  background: linear-gradient(225deg, #f0673a 0%, #bd69ee 90%, #d4e864 100%);
  font-family: cursive;
  height: 98vh;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 1px; /* Adjust as needed */
}
.question-card {
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.65);
}
